body {
    margin: 0;
}

.top {
    display: flex;
    height: 20vh;
    padding: 0 100px;
}

.top img.grass {
    align-self: flex-end;
    margin-left: auto;
}

.top img.logo {
    height: 50px;
    align-self: center;
}

.main {
    background: linear-gradient(#88B04B, #006934);
    height: 80vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main p.title {
    margin: 0;
    color: white;
    font-size: 40px;
    text-align: center;
}

.leagues {
    display: flex;
    margin-top: 100px;
    width: 75%;
    justify-content: space-around;
}

.leagues .league img {
    height: 150px;
}

.league {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.league a {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

img.showcase {
    border: 2px solid black;
}

@media only screen and (max-width: 800px) {
    .top {
        padding: 0 10px;
    }

    .top img.grass{
        display: none;
    }

    .top img.logo {
        margin: auto;
    }

    .leagues {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }

    .leagues .league img {
        height: 100px;
    }

    .league {
        flex-direction: row;
        margin-top: 50px;
        width: 100%;
        justify-content: space-around;
    }

    .main {
        height: 100vh;
        padding: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .league a {
        font-size: 12px;
    }
}