body {
    font-family: Arial, Helvetica, sans-serif
}

.head img {
    height: 150px;
}

.head {
    text-align: center;
}

.head .nav {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    margin: auto;
}

.head .nav p a {
    text-decoration: none;
    color: darkgray;
}

@media only screen and (max-width: 500px) {
    .head .nav p a {
        font-size: 14px;
    }
}

.head .nav p a:hover {
    text-decoration: underline;
}

.head .nav p a.active {
    text-decoration: underline;
    font-weight: bold;
}

div.main {
    padding: 30px 10%;
    max-width: 600px;
    margin: auto;
}

/* ABOUT PAGE */

.about {
    color: #666666;
}

.about p {
    margin: 0;
}

.about p.header {
    font-weight: bold;
}

.about img.location {
    width: 80%;
    max-width: 450px;
}

.about div.img {
    text-align: center;
}

/* PLAYERS PAGE */

.players .nav {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.players .nav input {
    width: 80%;
    height: 25px;
}

.players .nav button {
    width: 20%;
    margin-top: 10px;
    height: 35px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100px;
    font-size: 16px;
}

.players .nav button.search {
    background-color: #0d48db;
    border: 1px solid #0d48db;
}


.players .nav button.clear {
    background-color: darkgray;
    border: 1px solid lightgray;
}

.players .nav button:hover {
    text-decoration: underline;
}

.players .abbvs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.players .abbvs .abbv {
    margin: 0 5px;
}

.players .abbvs .abbv img {
    height: 50px;
}

.players .abbvs .abbv p {
    margin: 0;
    color: black;
}

.players .abbvs a {
    text-decoration: none;
}

.players .team {
    margin-bottom: 50px;
}

.players .team .top {
    display: flex;   
    align-items: center;
    padding: 10px;
}

.players .team .top img {
    height: 50px;
}

.players .team .top p {
    margin-left: 10%;
    font-weight: bold;
}

.players .player {
    display: flex;
    padding: 10px;
}

.players .player .info {
    margin-left: 10%;
}

.players .player img {
    height: 50px;
    width: 50px;
}

.players .player p {
    margin: 0;
    font-size: 14px;
}

.players .player p.name {
    font-weight: bold;
}

/* SCHEDULE PAGE */

.main.schedule {
    padding: 30px 1%;
}

.schedule .text {
    text-align: center;
}

.schedule .text p {
    font-style: italic;
}

.schedule  .text p span {
    color: blue;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

.schedule div.day {
    margin-top: 50px;
}

.schedule .day p.day {
    font-weight: bold;
    text-align: center;
}

.schedule .games {
    font-size: 14px;
}

.schedule .day .game {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.schedule .day .game .team1, .schedule .day .game .team2 {
    display: flex;
    width: 40%;
}

.schedule .day .game .team1 {
    justify-content: flex-end;
    margin-right: 5px;
}

.schedule .day .game .team2 {
    justify-content: flex-start;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.schedule .day .game .team1 p {
    margin-right: 10px;
}

.schedule .day .game .team2 p {
    margin-left: 10px;
}

.schedule .day .game .time {
    text-align: center;
    min-width: 45px;
    width: 10%;
}

.schedule .day .game img {
    height: 40px;
}

/* AWARDS PAGE */

.main.awards {
    padding: 50px 1%;
}

.awards .award p.title {
    color: #666;
}

.awards .winner {
    display: flex;
    margin-bottom: 50px;
}

.awards .winner img  {
    max-width: 100px;
    max-height: 152px;
}

.awards .winner .info {
    margin-left: 10%;
}

.awards .winner p {
    margin: 0;
}

.awards .winner p.name {
    font-weight: bold;
    margin-bottom: 10px;
}

.awards .winner p:not(.name) {
    font-style: italic;
    font-size: 14px;
    color: #666;
}


/* AWARDS PAGE 2*/

.main.awards2 {
    padding: 50px 1%;
}

.awards2 .award2 p.title {
    color: #666;
}

.awards2 .winner2 {
    display: flex;
    margin-bottom: 50px;
}

.awards2 .winner2 img  {
    max-width: 100px;
    max-height: 152px;
}

.awards2 .winner2 .info {
    margin-left: 10%;
}

.awards2 .winner2 p {
    margin: 0;
}

.awards2 .winner2 p.name {
    font-weight: bold;
    margin-bottom: 10px;
}

.awards2 .winner2 p:not(.name) {
    font-style: italic;
    font-size: 14px;
    color: #666;
}


