body {
    font-family: Arial, Helvetica, sans-serif
}

.head img {
    height: 150px;
}

.head {
    text-align: center;
}

.head .nav {
    display: flex;
    max-width: 500px;
    justify-content: space-around;
    margin: auto;
}

.head .nav p a {
    text-decoration: none;
    color: darkgray;
}

@media only screen and (max-width: 500px) {
    .head .nav p a {
        font-size: 14px;
    }
}

.head .nav p a:hover {
    text-decoration: underline;
}

.head .nav p a.active {
    text-decoration: underline;
    font-weight: bold;
}

div.main {
    padding: 50px 10%;
    max-width: 600px;
    margin: auto;
}

/* ABOUT PAGE */

.about {
    color: #666666;
}

.about p {
    margin: 0;
}

.about p.header {
    font-weight: bold;
}

.about img.location {
    width: 80%;
    max-width: 450px;
}

.about div.img {
    text-align: center;
}

/* PLAYERS PAGE */

.players .team {
    margin-bottom: 50px;
}

.players .team .top {
    display: flex;   
    align-items: center;
    padding: 10px;
}

.players .team .top img {
    height: 50px;
}

.players .team .top p {
    margin-left: 10%;
    font-weight: bold;
}

.players .player {
    display: flex;
    padding: 10px;
}

.players .player .info {
    margin-left: 10%;
}

.players .player img {
    height: 50px;
    width: 50px;
}

.players .player p {
    margin: 0;
    font-size: 14px;
}

.players .player p.name {
    font-weight: bold;
}